@import "compass";
@import "mixins";
@import "bootstrap.min";
@import "bootstrap-responsive.min";

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height:1.5;
}

a {
  color: #82e9b7;
  &:hover {
    color:#5ccf97;
  }
  &.anchor {
    color:#333;
    &:hover {
      color:#333;
      text-decoration:none;
    }
  }
}

h4 {
  font-size: 20px;
}

#party-splash {
  background: image-url("partybg.jpg") no-repeat center center;
  @include background-size(100% auto);
  text-align:center;
  padding:50px 0;

  .signup {
    @include box-shadow(0 0 3px rgba(0,0,0,0.9));
    @include transition(all .3s ease-in-out);
    @include background(linear-gradient(top left, #fdfb27, #d7d401));

    display: inline-block;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    padding: 20px 40px;
    border-radius: 1px;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: bold;
    text-shadow: 1px 0 0 #fff;
    margin:40px 0 0;
    &:hover {
      @include box-shadow(0 0 3px rgba(0,0,0,0.9), inset 0 0 20px rgba(0,0,0,0.6));
      text-decoration:none;
      color:#000;
    }
  }
}
.black {
  background-color:#000;
}
.white {
  position:relative;
  background-color:#fff;
}

.container-fluid {
  max-width: 1100px;
  margin: 0 auto;
}
.start {
  background-color:#1c1c1c;
  padding:20px 0;
}
.logo {
  color:#fff;
  margin:0 20px;
  text-align:center;
  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    font-weight: normal;
    line-height: 100px;
    margin:0 0 35px;
    text-align: center;
    @include text-shadow(0 0 15px rgba(0,0,0,0.07));

    .city {
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 30px;
      text-transform: uppercase;
      padding-left: 38px;
    }
  }

  h2 {
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    margin: 20px;
  }
}

.bottom {
  padding-bottom:70px;
}
h3.fancy {
  @include box-sizing(border-box);
  padding: 40px;
  font-family: 'Pacifico', cursive;
  font-size: 44px;
  font-weight: normal;
  text-align: center;
}

.desciption {
  p {
    font-size:20px;
    line-height:1.6;
    margin-bottom:25px;
  }
  .short-info {
    margin-bottom:30px;
    p {
      font-size:15px;
      line-height:1.3;
      margin-bottom:5px;
    }
  }
}

.garden {
  font-size:16px;
  .inner {
    margin:0 10%;
  }
}
.flower {
  font-size:11px;
  .inner {
    img {
      width:90%;
      margin:0 5%;
    }
    margin:0 10%;
  }
}
.seed {
  margin-bottom:60px;
}

@media (min-width: 768px) {
  .row-fluid .offset1-5:first-child {
    margin-left:12.75%;
  }
  .flower .span3 {
    //width:17%;
  }
}

.sponsorship {
  text-align:center;
}

.friends {
  margin-bottom:60px;
}

.featured-in {
  text-align: center;
  margin-bottom:60px;
  img {
    @include box-sizing(border-box);
    box-sizing: border-box;
    padding: 0px 25px;
    margin-bottom:20px;
  }
}

.team {
  padding: 20px 0px;

  .member {
    text-align: center;
    margin-bottom: 25px;

    img {
      @include border-radius(50%);
      width: 50%;
    }

    h4, p {
      margin: 7px 0;
      display: block;
    }

    h4 {
      margin-top: 14px;
    }

    h5 {
      font-weight: bold;
      font-size: 17px;
      color:#bbb;
    }

    p {
      width: 70%;
      margin: 0 auto 10px;
    }
  }
}


@media (max-width: 767px) {
  .black {
    height:auto;
  }
  #splash {
    height:auto;
    @include box-shadow(inset 0 0 100px rgba(0,0,0,0.5));
    .container-fluid {
      background-color: rgba(0,0,0,0.1);
    }
  }
  #party-splash {
    padding-left:20px;
    padding-right:20px;
    .signup {
      font-size:14px;
      padding:10px 15px;
    }
  }
  h3.fancy {
    padding:20px;
  }
  .desciption {
    padding: 0 40px;
    box-sizing: border-box;
    h4 {
      text-align:center;
    }
    p {
      font-size:15px;
      line-height:1.6;
    }
  }
  .sponsors {
    .flower {
      img {
        width:50%;
        margin:0 25%;
      }
    }
    .seed {
      .span2 {
        width:auto;
        float:left;
        width:50%;
      }
      img {
      }
    }
  }
}
